
:root{
  --color-primary: linear-gradient(-20deg, #f44a07, #ffB731);
  --color-light:#ecf0f3;
  --color-dark:#111;
  --box-shadow: 0 0 5rem rgba(0,0,0, 0.1);
  --btn-box-shadow: 0 1rem 2rme rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: coral;
  overflow: hidden;
  width: 100wh;
  height: 100vh;
}

.content {
  width: 50vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: animateContent 2s 1s ease forwards;
}


.content .container{
  margin-left: 5rem;
  color: #fff;
  width: 36rem;
}

.content .container h1{
  font-size: 3rem;
}

.content .container p{
  margin-top: 2rem;
  line-height: 1.4;
}
a{
  background-color: rgb(182, 179, 179);
  padding: 1.2rem 3rem;
  font-weight: 500;
  display: inline-block;
  margin-top: 1.8rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
}

.content a:hover{
box-shadow: var(--btn-box-shadow);

}

@keyframes animateContent {
  to{
    opacity: 1;
  }

}
