body {
  background: var(--dark-blue);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
}

.header .logo img {
  cursor: pointer;
  height: 1.5rem;
}

.header .navbar a {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #fff;
}
.header .navbar a:hover {
  border-bottom: 0.1rem solid #fff;
  padding-bottom: 0.3rem;
}

.header .icons a {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1rem;
  border-radius: 1rem;
  background: var(--btn);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

#menu-btn {
  display: none;
}

/*HOME SECTION*/

.home {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.home .content h3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.1px;
  color: #fea05d;
}
.home .content h1 {
  font-family: "Montserrat";

  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -0.5px;
  color: #eff3ff;
}

.home .content h1 span {
  color: #fea05d;
}
.home .content p {
  font-family: Mulish;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #eff3ff;
}
.home .content .watch-video {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.content .button-group {
  display: flex;
  column-gap: 2rem;
}
