* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image:  url(/css-basics/tasks/tamplate/grandfather.png);
  background-position: center;
  background-size: cover;
}
