body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
}

.bg-red {
  background-color: red;
}
.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
